/testPOO/nbproject/private/
/testPOO/build/
/testHerencia/target/
/clasesAbstractas/nbproject/private/
/EjercicioInterfacesPokemon/JavaApplication2/nbproject/private/
/InterfacesPokemon/nbproject/private/
/InterfacesPokemon/build/
/testArrayLists/nbproject/private/
/testArrayLists/build/
